@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Montserrat:wght@300;400;700&family=Mulish:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400&family=Open+Sans:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}

html{
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, #01040f, #01091a 80%)

}
.banner-pai{background-color: #01040f}

header{
    overflow: hidden;
}

:root{
    --font-primary:"Baloo Da 2";
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line{
    width: 100%;
    background: white;
    height: .1rem;
    box-shadow:black 1px 1px;
}

.banner{
    width:100%;
    height: 100vh;
    animation: zoom 5s;
    
}

@keyframes zoom{
    0%{
            transform:scale(1.1);
    }
    100%{
            transform:scale(1);    
    }
}


.devInfoInicial{
    font-family: var(--font-primary), sans-serif;
    position: absolute;
    top: 33%;
    right:1%;
    margin-right: 30%; 
    text-align: center;
    animation: move 1s;
}

@keyframes move{
    0%{
        transform: translateY(15rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
    }
    
}

.devInfoInicial h1{
    font-size: 3.5rem;
    color:#28d0ff;
    text-shadow: black 1px 5px;
    font-weight: 200;
    
}

.devInfoInicial p{
    color:white;
    font-size: 2rem;
}


.sidebar{
    width: 15rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -15rem;
    opacity: 0.6;
    transition: all 1s; 
}

.sidebar.show-menu{
    right:0;
    
}

.menu{  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.menu-link{
    font-family: var(--font-primary);
    color: gray;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-link:hover{
    color: aqua;
    font-size: 1.6rem;
    transition: all 0.1s;
}

.social-media{
   position: absolute;
   display: flex;
   width: 100%;
   justify-content: space-around;
   bottom: 2rem;
}

.icons{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.icons:hover{
    background-color: aqua;
    border-radius: 50%;
}

.conhecimentos{
    display: grid;
    grid-template-areas: 
    "section-header",
    "section-css",
    "section-javascript",
    "section-reactjs",
    "section-git",
    "section-img";

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding-top: .5rem;
    height:100vh;
    border-bottom: rgba(255, 255, 255, 0.062) 1px solid;
}

h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.conhecimento-header{

    grid-column: 7 / 11;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.877);
    padding-top: 2rem;
    border-bottom: rgba(255, 255, 255, 0.699) solid 2px;
    
}

.section-html{
    background: url(./img/html.png);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:35%;

    text-align:center;
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    text-transform: uppercase;
    font-family: var(--font-primary);
    
    
}


.section-html p {
    padding-top: 2.5rem;
    text-transform: none;
    color: white;
    font-size: .8rem;
    line-height: 15px;

}


.section-css{

    background: url(./img/css-3.png);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    text-transform: uppercase;
    text-align: center;
    grid-row: 4 / 5 ;
    grid-column: 3 / 5;
    font-family: var(--font-primary);
    
}

.section-css p {
    padding-top: 2.4rem;
    text-transform: none;
    color: white;
    font-size: .8rem;
    line-height: 15px;
}




.section-javascript{
    background: url(./img/icons8-javascript-48.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    text-align: center;
    grid-row: 6 / 7 ;
    grid-column: 3 / 5;
    font-family: var(--font-primary);
}

.section-javascript p {
    padding-top: 2.5rem;
    color: white;
    font-size: .8rem;
    line-height: 15px;
}

.section-reactjs{

    background: url(./img/physics.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 35%;
    text-align: center;
    grid-row: 2 / 3 ;
    grid-column: 13 / 15;
    font-family: var(--font-primary);
    
}

.section-reactjs p {
    padding-top: 3rem;
    color: white;
    font-size: .8rem;
    line-height: 15px;
    
}

.section-git{
    background: url(./img/git.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    text-align: center;
    grid-row: 4 / 5 ;
    grid-column: 13 / 15;
    font-family: var(--font-primary);

}


.section-git p {
    padding-top: 3rem;
    color: white;
    font-size: .8rem;
    line-height: 15px;
}


.section-img{
    background: url(./img/gif.gif);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    grid-column: 3 / 15;
    grid-row: 2 / 9
  
}



.section-projetos{
   margin-top: 2rem;

}

.projetos-header h2{
    width: 200px;
    color: white;
    text-align: center;
    margin-left: 42%;
    font-size: 3rem;
    font-family: var(--font-primary);
    border-bottom: rgba(255, 255, 255, 0.699) solid 2px;
    
}

.projetos-desenvolvedor{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.card{
    width: 200px;
    height: 300px;
}


.descricao{
    text-align: center;
    color: white;
    margin-top: 5px;
    padding:0 0 .3rem;
    border: 1px solid rgba(0, 255, 255, 0.11);
    border-radius: 3%;
    font-family: "Mulish";
    font-size: .8rem;
    color: rgb(206, 136, 6);
}

.descricao h3{
    font-size: 1rem;
    margin-bottom: .2rem;
    color: rgb(206, 136, 6);
}

.descricao a{
    color: aqua;
}

h4{
    text-transform: uppercase;

}

.section-contato{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-top: rgba(255, 255, 255, 0.062) 1px solid;
    
}

.contato{
    width: 60%;
    height: 30rem;
    display: flex;
}


.contato-esquero{
    width: 35%;
    background: url(/img/banner2.jpg);
    opacity: 0.9;
    background-size: cover;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    
   

}

.contato-direito{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem 2rem;
    border-end-end-radius: 5%;
    border-top-right-radius: 5%;
}

.section-contato h1{
    font-family: var(--font-primary);
    text-align: center;
    font-size: 3rem;
    font-weight: 400;

}

.section-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.input-group{

    position: relative;
    width: 90%;

}

.field{

    background: transparent;
    border: none;
    width: 25rem;
    font-size: 1rem;
    border-bottom: .1rem gray dashed;
    height: 3rem;
    outline: none ;
    margin: 1rem 0;

}

.field-label{
    position: absolute;
    left: 0;
    font-family: "Mulish";
    color: rgb(90, 90, 90);
    top: 2rem;
    transition: all 0.3s;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 28rem;
    max-height: 8rem;
}

.field:focus ~ label{

    top: 0;
    

}

.field:focus{
    border-bottom: 1px solid;

}


.contato-button{
    margin-top: 0.6rem;
    padding:0 3rem;
    font-family: var(--font-primary);
    background: rgb(206, 136, 6);
    color: white;
    border:none;
    border-radius: 4%;
    font-size: 1rem;
    cursor: pointer;
}

.contato-button:hover{

    background:rgb(255, 119, 0);
    transition: 0.4s;

}


.rodape{
    
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: rgba(255, 255, 255, 0.7);
    
}

.img-rodape{
    height: 40px;
    margin:0 2rem;
}

