
.section-contato{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-top: rgba(255, 255, 255, 0.062) 1px solid;
    
}

.contato{
    width: 60%;
    height: 30rem;
    display: flex;
}


.contato-esquero{
    width: 35%;
    background: url(../img/banner2.jpg);
    opacity: 0.9;
    background-size: cover;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    
   

}

.contato-direito{
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem 2rem 2rem;
    border-end-end-radius: 5%;
    border-top-right-radius: 5%;
}

.section-contato h1{
    font-family: var(--font-primary);
    text-align: center;
    font-size: 3rem;
    font-weight: 400;

}

.section-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.input-group{

    position: relative;
    width: 90%;

}

.field{

    background: transparent;
    border: none;
    width: 25rem;
    font-size: 1rem;
    border-bottom: .1rem gray dashed;
    height: 3rem;
    outline: none ;
    margin: 1rem 0;

}

.field-label{
    position: absolute;
    left: 0;
    font-family: "Mulish";
    color: rgb(90, 90, 90);
    top: 1rem;
    transition: all 0.3s;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 28rem;
    max-height: 8rem;
}

.field:focus ~ label{

    top: 0;
    

}

.field:focus{
    border-bottom: 1px solid;

}


.contato-button{
    margin-top: 0.6rem;
    padding:0 3rem;
    font-family: var(--font-primary);
    background: rgb(206, 136, 6);
    color: white;
    border:none;
    border-radius: 4%;
    font-size: 1rem;
    cursor: pointer;
}

.contato-button:hover{

    background:rgb(255, 119, 0);
    transition: 0.4s;

}
